[Unit]
Description=One-shot service to install Satellite
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/tiysoo-install > /root/tiysoo-install.log 2>&1
TimeoutStartSec=0
ExecStartPost=/usr/bin/systemctl disable install-satellite.service

[Install]
WantedBy=default.target
