[Unit]
Description=One-shot service to setup the Satellite persistent volume
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/su - root -c /usr/bin/sicko-setup-pv
TimeoutStartSec=0
ExecStartPost=/usr/bin/systemctl disable satellite-setup-pv.service

[Install]
RequiredBy=multi-user.target

